.badges {
  padding-inline: 40px;

  .container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .chip {
      padding: 8px 16px;
      text-transform: capitalize;
      border-radius: 6px;
      font-weight: 600;
    }
    
    .chip.filled {
      color: var(--text-primary);
      background-color: var(--theme);
    }
    
    .chip.outlined {
      color: var(--text-in);
      background-color: transparent;
      outline: 1px solid var(--theme);
    }
  }
}

#hobbies {
  margin-top: 50px;
}