.intro {
  flex-direction: row;
  gap: 20px;
  padding-inline: 40px;

  .image img {
    border-radius: 50%;
    width: 150px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-size: 40px;
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 900;

      text-shadow: -1px -1px 0px var(--theme),
    1px 1px 0px var(--theme);

      .playback {
        position: relative;
      }
    }

    .role {
      color: var(--theme);
      font-size: 24px;
      font-weight: 800;
    }

    .title-description {
      font-size: 16px;
    }  
  }
}