:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media print {
  @page { margin: 20px 0; size: A4 portrait; max-height:99%; max-width:95%}
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    margin: 0 auto;
  }

  #root {
    margin-left: -35px;
    max-width: 1200px;
    min-width: 1200px;
  }

  .playback {
    display: none;
  }
}